# Don't track content of these folders
settings/
__pycache__/

#folders inside static, images and music files
static/assets_main/
static/img/

#tsDefinitions and phaser.min.js found from phaser-ce download
static/js/tsDefinitions/
*.d.ts


static/js/phaser.js
static/js/phaser.min.js


#extra html files used during development
templates/base.html
templates/index.html
templates/index2.html